
.navbar-header{
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.navbar-nav.navbar-right{
  float: right;
  margin: 0;
}

.navbar-nav li{
  display: inline-block;
  float: left;
}

.navbar-nav li a{
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header:nth-child(1){
  margin-top:10px;
}

.comment-list-item .avatar{
  padding-right: 15px;
}
.comment-list-item.inverse .avatar{
  padding-left: 15px;
  padding-right: 0;
}
.comment-list-item.inverse .content{
  text-align: right;
}

.comment-list-item .body .content{
  line-height: 47px;
  font-size: 110%;
}