
.comment-list-item .tag a:nth-child(2){
  margin-left: 7px;
}

.comment-list-item .tag a:hover{
  text-decoration: none;
}

.page-header:nth-child(1){
  margin-top:10px;
}

.badge-danger {
  position: relative;
  top: -10px;
  left: -15px;
  background: #ed1c24;
  margin-right: -20px;
}